name: Validate with hassfest

on:
  push:
    branches: [master]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate_hassfest:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
      - uses: home-assistant/actions/hassfest@master
