name: Sync Main to Master
permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      with:
        ref: main
        fetch-depth: 0

    - name: Push changes to master
      run: |
        git checkout -b master
        git push origin +master
