on:
  push:
    branches: [main]
name: TOC Generator
permissions:
  contents: read
jobs:
  generateTOC:
    name: TOC Generator
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/toc-generator@v4
        with:
          TOC_TITLE: ""
