name: Update README.md, strings.json, and services.yaml
permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths:
      - "README.md"
      - "custom_components/adaptive_lighting/const.py"
      - ".github/workflows/update-readme.yml"
  pull_request:

jobs:
  update_readme:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Home Assistant
        uses: ./.github/workflows/install_dependencies
        with:
          python-version: "3.13"

      - name: Install markdown-code-runner and README code dependencies
        run: |
          uv pip install markdown-code-runner==2.1.0 pandas tabulate

      - name: Run markdown-code-runner
        run: uv run markdown-code-runner --verbose README.md

      - name: Run update services.yaml
        run: uv run python .github/update-services.py

      - name: Run update strings.json
        run: uv run python .github/update-strings.py

      - name: Commit updated README.md, strings.json, and services.yaml
        id: commit
        run: |
          git add -u .
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          if git diff --quiet && git diff --staged --quiet; then
            echo "No changes in README.md, strings.json, and services.yaml, skipping commit."
            echo "commit_status=skipped" >> $GITHUB_ENV
          else
            git commit -m "Update README.md, strings.json, and services.yaml"
            echo "commit_status=committed" >> $GITHUB_ENV
          fi

      - name: Push changes
        if: env.commit_status == 'committed'
        uses: ad-m/github-push-action@77c5b412c50b723d2a4fbc6d71fb5723bcd439aa # v1.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref }}
